<section class="content">
  
   <span class="bottom_bar_page_close glyphicon glyphicon-remove" ng-click="closeBottom();">Close</span>
   
    <div>
        <div>
           <h1>TR<span class="color1">4</span>DE ST<span class="color2">4</span>R/Privacy Policy</h1>
           
            <div id="innerText">
            
            <p>Your personal data is processed, held by and used for the purposes of TR<span class="color1">4</span>DE ST<span class="color2">4</span>R, Inc. (hereafter "TR<span class="color1">4</span>DE ST<span class="color2">4</span>R inc."). TR<span class="color1">4</span>DE ST<span class="color2">4</span>R inc. is committed to the responsible management, use, and protection of your personal data on this website (the "Site"). This Privacy Policy outlines the types of personal data we gather, how we use it, with whom we share it, the means by which we keep it secure, and the choices you have about the personal data you choose to share with us. Please note that, depending on the area of the Site from which you access or select a particular product or service, you may be required to enter different or additional personal data to register for a product trial or sign-up to receive press release alerts.</p>

<p>In interpreting this Privacy Policy it is not intended that the headings should be taken into account. This Privacy Policy forms an integral part of and should be read in conjunction with the Terms of Use of the Site.
We recognize that the personal data that you enter on the Site is very valuable, and protecting the privacy of this information is a top priority for us. Any personal data that you enter on the Site is kept confidential and is not shared with any third parties (except as set forth herein).</p>

<p>When processing your personal data, Morningstar respects the rules on the protection of personal data as set forth in the Personal Information Protection and Electronic Documents Act and all substantially similar provincial legislation on the protection of individuals with regard to the collection, use, and disclosure of their personal data.</p>

<p>When you apply for a job on the Site, we may ask you to provide us with certain personal and professional data. We will use this data for recruitment purposes only.</p>

<p>When you register for a product trial on the Site or request to be contacted by a sales representative, we may ask you to provide us with certain personal and professional data. By entering your personal data, you then explicitly allow us to use this personal data to contact you with details about the product or product trial you are interested in. Should you, however, at any time no longer wish to be contacted by us, please tell us by sending an email to caprivacypolicy@morningstar.com. If you subscribed to receive press release alerts you will only receive emails regarding press releases or your press release alert settings. If you wish to unsubscribe to this service, please visit the press release alerts page.</p>
      
       </div>
       
        </div>
    </div><!-- /.row -->
</section><!-- /.content -->


