<section class="content">
   
   <span class="bottom_bar_page_close glyphicon glyphicon-remove" ng-click="closeBottom();">Close</span>
   
    <div>
        <div>
            <h1>Follow Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod aliquam metus et scelerisque. Nulla aliquet, justo sed commodo rhoncus, mi turpis convallis nulla, vel mollis lorem ligula ac turpis. Pellentesque eget molestie justo. Nulla sit amet nulla eget diam viverra imperdiet. Etiam et odio bibendum, sodales tellus sit amet, tempus nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed congue eu erat nec facilisis. Morbi ac nisl a ipsum sagittis tincidunt. Aenean libero velit, elementum quis ultricies nec, maximus tempus leo. Donec turpis urna, interdum vitae nulla sit amet, dignissim pretium enim. Nulla egestas dapibus convallis. Donec faucibus venenatis nunc, eu finibus velit suscipit at. Fusce cursus dui in sapien ultrices, efficitur semper diam tristique.</p>
            <p>Morbi rhoncus vulputate nulla, a tristique dolor fermentum id. Ut sagittis mauris in augue convallis, interdum congue lorem commodo. Integer lectus ex, egestas non erat sed, pellentesque vulputate eros. Fusce dignissim nisi at mauris egestas, quis porta magna interdum. Integer id tincidunt magna. Duis ornare mi quis risus lobortis ornare. Aliquam ullamcorper, lorem sed tempor tempus, mauris eros dapibus enim, sit amet sollicitudin ligula elit nec urna. Etiam ut dui non velit luctus luctus ac ut enim. Suspendisse id tempus nulla, id tempor leo.</p>
            <p>Suspendisse augue purus, convallis in aliquam vitae, ornare non orci. In imperdiet, lorem a ornare condimentum, justo nibh efficitur ipsum, id euismod nulla nunc non enim. Vivamus eget ante nibh. Curabitur pretium dui purus, ornare facilisis nisl ultricies a. Cras rutrum bibendum turpis. Nulla lorem lectus, posuere eget elementum vitae, feugiat a ex. Sed a tortor metus. Cras eget neque sit amet nibh finibus pulvinar. Aliquam iaculis, diam eu fringilla facilisis, dolor mi interdum massa, ac pellentesque ex ipsum id libero. Praesent consectetur libero arcu, in varius nisl volutpat vel. Duis eu aliquam ex.</p>
        </div>
    </div><!-- /.row -->
</section><!-- /.content -->


