﻿<link href="../assets/styles/home2.css" rel="stylesheet"/>
<link href="../assets/styles/metro-bootstrap.css" rel="stylesheet"/>
<script src="../assets/scripts/news-ticker_home.js"></script>

<script>
    $(function () {
        //$("[data-toggle='tooltip']").tooltip();

        $('#tooltip2').tooltip({
            'show': true,
            'placement': 'top',
            'title': "65"
        });
    });

    $('post_img').click(function () {
        $("input[id='my_file']").click();
    });

</script>

<!--window with video after registration-->
<div id="myModal" class="modal fade" ng-click="closeBottom()">
    <div class="modal-dialog">
        <div class="modal-content" style="height:420px; margin-top:180px">
            <div class="modal-header" style="border-bottom:0px">
                <button type="button" class="close" data-dismiss="modal" ng-click="closeBottom()"
                        aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body" style="text-align:center">
                <h2 id="center-x">To Start.We've given you</h2>

                <h2 id="center-x"><b>$100,000</b></h2>

                <div id="center-x">
                    <img src="assets/images/navbar_menu/logo_44.png" alt="Trade Star" height="60" width="60">
                </div>


                <div style="width:300px; height:300px; background:red;z-index:1000000" ng-show="frameVideo"></div>
                <!--  <video class="singUpBackgr2" id="gameInstructionVideo" controls  preload="none" poster="assets/images/download.jpg">
                      <source src="assets/video/video.mp4" type="video/mp4" />
                  </video>-->

            </div>

            <div class="modal-footer" style="border-top:0px">
                <div id="center-x">
                    <button type="button" class="btn btn-success text-center btn-lg"
                            id="center-x" style="display: block; width: 80%; margin: 0 auto;" ng-click="playVideo();">
                        How to Play
                    </button>
                </div>
                <br / >
                <div id="center-x">
                    <button type="button" class="btn btn-success text-center btn-lg"
                            style="display: block; width: 80%;  margin: 0 auto;" ng-click="closeBottom()"
                            data-dismiss="modal">Play Now
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
<div id="envelope" ng-show="gameVideo"  class="backgroundVideo"  class="modal fade">
   <div class="modal-dialog " >
        <div class="modal-content" style="width:370px">
            <div  class="modal-header" style="border-bottom:0px" > 
<!--			<div class="modal-header" style="border-bottom:0px" > 
              <!--  <img src="assets/images/home/logo-menu1.png" alt="Trade Star" height="40" width="501">-->

<!--                <button type="button"  ng-click="closeBottom()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                
            </div>
            <div class="modal-body"  style="text-align:center">
                <h2  id="center-x">To Start.We've given you</h2>
                <h2  id="center-x"><b>$100,000</b></h2>
					<div id="center-x">
						<img src="assets/images/navbar_menu/logo_44.png" alt="Trade Star" height="60" width="60" >
                    </div>
            </div>
			<div >
          <!--   <video class="singUpBackgr2" id="gameInstructionVideo" controls  preload="none" poster="/assets/images/home/bg-repeatdownload.jpg">
				<source src="/assets/video/video.mp4" type="video/mp4" />
				Your browser does not support the <code>video</code> element.
			</video>	-->
<!--			</div>	
                  <!--source type="video/webm" src="../assets/images/videos/First.webm" />
Your browser does not support the video tag.Your browser does not support the video tag.
</video
             <source type="video/quicktime" src="../assets/images/videos/video.mp4" />-->

<!--         <div class="modal-footer" style="border-top:0px">
             <div id="center-x">
             <button type="button"      class="btn btn-success text-center btn-lg"
                 id="center-x"   style="display: block; width: 80%; margin: 0 auto;" ng-click="playVideo();">How to Play</button>
         </div>
             <br / >
         <div id="center-x">
             <button  type="button"  class="btn btn-success text-center btn-lg"
             style="display: block; width: 80%;  margin: 0 auto;"  ng-click="closeBottom()" data-dismiss="modal">Play Now</button>
         </div>
         </div>
     </div>
 </div>




</div>

<div  id="fade" ng-show="gameVideo" ng-click="closeBottom();" class =" black-videoOverLay">


</div>	-->


<div class="wrapper panel panel-default col-xs-12 animated fadeInDownBig"
     style="margin-top: 90px; margin-bottom: 10px;padding:0;">

    <div class="col-xs-7 blackborder2" style="background-color:#fff; height:363px; padding: 0; padding-top: 0vh;">

        <div class="col-xs-12 metro" style="padding-right: 0.5vh; padding-left: 0.5vh; padding-top: 0.5vh">
            <div class="col-xs-4" style="padding: 0">
                <div class="col-xs-12 bg-darkCyan" style=" text-align: center;">
                    <i class="fa fa-line-chart fg-white"
                       style="font-size: 4.5em; padding-top: 32px; padding-right: 1vh;"></i>

                    <div style="text-align: left;">
                        <span class="fg-white" style="font-size: 0.8em;">Best return</span>
                        <span class="fg-white pull-right" style="font-size: 0.8em; margin-top: 0.4vh">$ 1.503.879</span>
                    </div>
                    <div style="text-align: left;">
                        <span class="fg-white" style="font-size: 0.8em;">Level</span>
                        <span class="fg-white pull-right" style="font-size: 0.8em; margin-top: 0.4vh">145</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-4" style="padding: 0 0 0 0.4vh">
                <div class="col-xs-12 bg-emerald" style=" text-align: center;">
                    <i class="ion ion-person-stalker fg-white"
                       style="padding-top: 25px; font-size: 5em; padding-right: 1vh;"></i>

                    <div style="text-align: left;">
                        <span class="fg-white" style="font-size: 0.8em;">Country best</span>
                        <span class="fg-white pull-right" style="font-size: 0.8em; margin-top: 0.4vh">$ 1.503.879</span>
                    </div>
                    <div style="text-align: left;">
                        <span class="fg-white" style="font-size: 0.8em;">Level</span>
                        <span class="fg-white pull-right" style="font-size: 0.8em; margin-top: 0.4vh">145</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-4" style="padding: 0 0 0 0.4vh">
                <div class="col-xs-12 bg-black" style=" text-align: center;">
                    <i class="fa fa-globe fg-white" style="font-size: 5em; padding-top: 25px; padding-right: 1vh;"></i>

                    <div style="text-align: left;">
                        <span class="fg-white" style="font-size: 0.8em;">World best</span>
                        <span class="fg-white pull-right" style="font-size: 0.8em; margin-top: 0.4vh">$ 1.503.879</span>
                    </div>
                    <div style="text-align: left;">
                        <span class="fg-white" style="font-size: 0.8em;">Level</span>
                        <span class="fg-white pull-right" style="font-size: 0.8em; margin-top: 0.4vh">145</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 metro" style="padding-top:0.4vh; padding-right: 0.5vh; padding-left:0.5vh">
            <div class="col-xs-8 backgroundUniversity" style="padding: 0; height: 220px;">
                <table class="table bg-transparent fg-white" style="margin-bottom: 0;">
                    <tr style="">
                        <td style="font-size: 0.9em; border: none;">Best University</td>
                        <td style="font-size: 0.8em; border: none;">Havard</td>
                    </tr>
                    <tr style="">
                        <td style="font-size: 0.9em; border: none; padding-top: 0;">Level</td>
                        <td style="font-size: 0.8em; border: none; padding-top: 0;">450</td>
                    </tr>
                    <tr style="">
                        <td style="font-size: 0.9em; border: none;">Best College</td>
                        <td style="font-size: 0.8em; border: none;">Williams College</td>
                    </tr>
                    <tr style="">
                        <td style="font-size: 0.9em; border: none; padding-top: 0;">Level</td>
                        <td style="font-size: 0.8em; border: none; padding-top: 0;">450</td>
                    </tr>
                </table>
                <i class="ion ion-university fg-white" style="font-size: 5em;"></i>
            </div>
            <div class="col-xs-4 metro" style="padding: 0 0 0 0.4vh;">
                <div class="backgroundSchool" style="height: 220px;">
                    <table class="table bg-transparent fg-white" style="margin-bottom: 0;">
                        <tr style="">
                            <td colspan="2" style="text-align: center; font-size: 0.9em; border: none;">Best High
                                School
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center; font-size: 0.8em; border: none;">Townsend
                                Harris
                            </td>
                        </tr>
                        <tr style="">
                            <td style="font-size: 0.9em; border: none; padding-top: 0;">Level</td>
                            <td style="text-align: center; font-size: 0.8em; border: none; padding-top: 0;">450</td>
                        </tr>
                    </table>
                    <i class="ion ion-ribbon-b fg-white" style="font-size: 5em; padding-top: 2.5vh;"></i>
                </div>
            </div>
        </div>


    </div>

    <div class="col-xs-5 blackborder3" style="background-color:#fff;height:363px; padding: 0; padding-top: 0vh;"
         ng-controller="chatCtrl">

        <div class="col-xs-12 metro" style="padding: 0;">
            <div class="panel panel-default" style="border: none; margin-bottom: 0.2vh; border-radius: initial;">
                <div class="panel-body">
                    <div class="col-xs-2 bg-white" style="padding: 0;">
                        <!--<i class="ion ion-android-social-user" style="font-size: 3.5em; color: aliceblue;"></i>-->
                        <img ng-show="Auth" src="assets/images/users/{{playerInfo.username}}/profile_pic.png"
                             style="width: 60px; height: 50px; border-radius:0px; margin: 3px 0 0 0;">
                    </div>
                    <div class="col-xs-10">
                        <textarea class="form-control" rows="2" placeholder="Share what you've been up to..."
                                  ng-model="globalChatMsg" ng-click="btn_cancel='true'; btn_post='true';"></textarea>
                    </div>
                </div>
                <div class="panel-footer bg-white" style="border: none; padding: 0; padding-bottom: 15px;">
                    <i class="fa fa-image custom_posticon" id="post_img" style="margin-left: 1vh;"></i>
                    <input type="file" id="my_image" style="display: none;"/>
                    <i class="fa fa-video-camera custom_posticon"></i>
                    <i class="fa fa-lightbulb-o custom_posticon"></i>
                    <i class="fa fa-question-circle custom_posticon"></i>

                    <button class="btn btn-sm btn-default pull-right ButColor" style="margin-right: 1vh;height:25px;"
                            ng-show="btn_cancel" ng-click="btn_cancel=''; btn_post='';">Cancel
                    </button>
                    <button class="btn btn-sm btn-google-plus pull-right" style="margin-right: 1vh;height:25px;"
                            ng-show="btn_post" ng-click="addGlobalPost()">Post
                    </button>
                    <h6></h6>
                </div>
            </div>
        </div>

        <div class="col-xs-12 metro metro2"
             style="padding-right: 0; height: 227px; overflow-y: auto; overflow-x: hidden; padding-left: 0;margin-top: 5px;">
            <table class="table backgroundChat fg-white" style="margin-top:7px;">
                <tr ng-repeat="posts in globalChat">
                    <td style="border: none; padding-bottom: 0; ">
                        <img ng-src="{{posts.userImgUrl}}" style="width: 6vh;" alt="Scott Stevens"/>
                    </td>
                    <td style="border: none; height: 11vh">
                        <span style="font-size: 0.9em;">{{posts.username}}</span>
                        <span style="font-size: 0.8em">posted a <a ng-click="message_post='true';"
                                                                   style="text-decoration: none; color: aqua; cursor: pointer;">new
                            {{posts.postType}}</a></span>

                        <div style="padding: 0; font-size: 0.8em; height: 6vh; width: 24vw; overflow: auto;"
                             ng-show="message_post">
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </span>
                        </div>
                        <div style="height:12vh">
                            <h6 style="font-size:0.8em;font-weight:normal;color:aqua" ng-show="posts.massageTo">
                                {{posts.massageTo}} :</h6>
                            <span style="font-size:0.8em;">{{posts.message}}</span>
                        </div>
                    </td>
                    <td style="border: none;">
                        <span style="font-size: 0.8em">{{posts.messageTime}}</span>
                    </td>
                </tr>
            </table>
        </div>


    </div>

    <div class="col-xs-12 metro" style="padding-top:0.4vh;padding-right:0; padding-left:0;">
        <div class="panel blackborder2">
            <div class="panel-heading fg-white" style="background-color:black; border-radius:0;">
                <i class="fa fa-trophy" style="font-size:2.2em;padding-right:1vh;"></i>
                <span style=" font-size:1.2em">Last Winner Tournament</span>

            </div>
            <div class="panel-body blackborder3" style="padding:0;">
                <table class="table table-bordered">
                    <tr style="">
                        <td colspan="3">
                         <span class="btn-group">
                             <button type="submit" name="q" class="btn btn-sm btn-default "
                                     style="height:30px; font-weight:bold">Top 10
                             </button>
                             <button type="submit" name="q" class="btn btn-sm btn-default "
                                     style="height:30px; font-weight:bold">Top 100
                             </button>
                             <button type="submit" name="q" class="btn btn-sm btn-default "
                                     style="height:30px; font-weight:bold">Top 1000
                             </button>
                         </span>
                         <span class="pull-right">
                             <input type="text" class="form-control-xs " style="height:30px; text-align:center"
                                    id="input_search" placeholder="Search" ng-model="LeaderSearch">
                             <button type="submit" name="q" class="btn btn-xs btn-default" style="height:30px"><i
                                     class="fa fa-search"></i></button>
                         </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 0.85em; font-weight: bold;width: 6vw;">#</td>
                        <td style="font-size: 0.85em; font-weight: bold;">Name</td>
                        <td style="font-size: 0.85em; font-weight: bold;">Balance</td>
                        <td style="font-size: 0.85em; font-weight: bold;">Level</td>
                    </tr>

                    <tr ng-repeat="player in leaderBoardPlayers | filter:LeaderSearch">
                        <td>
                            <i class="ion ion-ribbon-a"
                               ng-style="getLeaderBoardBadgeColor($index);"></i>
                        </td>
                        <td>
                            <span><img ng-src="{{player.usrImg}}" width="25" height="25">{{player.username}}</span>
                        </td>
                        <td>
                            <span class="label label-warning">{{player.balance | currency}}</span>
                        </td>
                        <td>
                            <span class="label label-warning">{{player.currentLevel}}</span>
                        </td>
                    </tr>
                    <!--
                    <tr>
                        <td>
                            <i class="ion ion-ribbon-a" style="font-size: 2em; color: goldenrod; padding-right: 1vh;"></i>
                        </td>
                        <td>
                            <span>El Samurai</span>
                        </td>
                        <td>
                            <span >359</span>
                        </td>
                          <td>
                            <span >$100,000</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ion ion-ribbon-a" style="font-size: 2em; color: silver; padding-right: 1vh;"></i>
                        </td>
                        <td>
                            <span>El Samurai</span>
                        </td>
                        <td>
                            <span >359</span>
                        </td>
                           <td>
                            <span >$100,000</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ion ion-ribbon-a" style="font-size: 2em; color: saddlebrown; padding-right: 1vh;"></i>
                        </td>
                        <td>
                            <span>El Samurai</span>
                        </td>
                        <td>
                            <span >359</span>
                        </td>
                           <td>
                            <span >$100,000</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ion ion-ribbon-a" style="font-size: 2em; color: Black; padding-right: 1vh;"></i>

                        </td>
                        <td>
                            <span>El Samurai</span>
                        </td>
                        <td>
                            <span >359</span>
                        </td>
                           <td>
                            <span >$100,000</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ion ion-ribbon-a" style="font-size: 2em; color: Black; padding-right: 1vh;"></i>

                        </td>
                        <td>
                            <span>El Samurai</span>
                        </td>
                        <td>
                            <span >359</span>
                        </td>
                           <td>
                            <span >$100,000</span>
                        </td>
                    </tr>
                   <!-- <tr>
                        <td>
                            <span style="font-size:0.8em;">6</span>
                        </td>
                        <td>
                            <span>El Samurai</span>
                        </td>
                        <td>
                            <span >359</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-size:0.8em;">7</span>
                        </td>
                        <td>
                            <span>El Samurai</span>
                        </td>
                        <td>
                            <span >359</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-size:0.8em;">8</span>
                        </td>
                        <td>
                            <span>El Samurai</span>
                        </td>
                        <td>
                            <span >359</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-size:0.8em;">9</span>
                        </td>
                        <td>
                            <span>El Samurai</span>
                        </td>
                        <td>
                            <span >359</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-size: 0.8em;">10</span>
                        </td>
                        <td>
                            <span>El Samurai</span>
                        </td>
                        <td>
                            <span >359</span>
                        </td>
                    </tr>

                -->
                </table>
            </div>
        </div>

    </div>
</div>


<!--
<div  class="wrapper panel panel-default col-xs-12" style="margin-top: 90px; margin-bottom: 10px;">

    <div class="col-xs-7" style="padding: 0; padding-top: 1vh;">
        <div class="col-xs-12 metro" style="padding-right: 0.5vh;">
            <div class="col-xs-4" style="padding: 0">
                <div class="col-xs-12 bg-darkCyan" style="height: 14.5vh; text-align: center;">
                    <i class="fa fa-line-chart fg-white" style="font-size: 4.5em; padding-top: 2.5vh; padding-right: 1vh;"></i>
                    <div style="text-align: left;">
                        <span class="fg-white" style="font-size: 0.8em;">Best return</span>
                        <span class="fg-white pull-right" style="font-size: 0.8em; margin-top: 0.4vh">$ 1.503.879</span>
                    </div>
                    <div style="text-align: left;">
                        <span class="fg-white" style="font-size: 0.8em;">Level</span>
                        <span class="fg-white pull-right" style="font-size: 0.8em; margin-top: 0.4vh">145</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-4" style="padding: 0 0 0 0.4vh">
                <div class="col-xs-12 bg-emerald" style="height: 14.5vh; text-align: center;">
                    <i class="ion ion-person-stalker fg-white" style="padding-top: 2vh; font-size: 5em; padding-right: 1vh;"></i>
                    <div style="text-align: left;">
                        <span class="fg-white" style="font-size: 0.8em;">Country best</span>
                        <span class="fg-white pull-right" style="font-size: 0.8em; margin-top: 0.4vh">$ 1.503.879</span>
                    </div>
                    <div style="text-align: left;">
                        <span class="fg-white" style="font-size: 0.8em;">Level</span>
                        <span class="fg-white pull-right" style="font-size: 0.8em; margin-top: 0.4vh">145</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-4" style="padding: 0 0 0 0.4vh">
                <div class="col-xs-12 bg-darkIndigo" style="height: 14.5vh; text-align: center;">
                    <i class="fa fa-globe fg-white" style="font-size: 5em; padding-top: 2vh; padding-right: 1vh;"></i>
                    <div style="text-align: left;">
                        <span class="fg-white" style="font-size: 0.8em;">World best</span>
                        <span class="fg-white pull-right" style="font-size: 0.8em; margin-top: 0.4vh">$ 1.503.879</span>
                    </div>
                    <div style="text-align: left;">
                        <span class="fg-white" style="font-size: 0.8em;">Level</span>
                        <span class="fg-white pull-right" style="font-size: 0.8em; margin-top: 0.4vh">145</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 metro" style="padding-top:0.4vh;padding-right: 0.5vh;">
            <div class="col-xs-8 bg-darkOrange" style="padding: 0; height: 20vh;">
                <table class="table bg-transparent fg-white" style="margin-bottom: 0;">
                    <tr style="">
                        <td style="font-size: 0.9em; border: none;">Best University</td>
                        <td style="font-size: 0.8em; border: none;">Havard</td>
                    </tr>
                    <tr style="">
                        <td style="font-size: 0.9em; border: none; padding-top: 0;">Level</td>
                        <td style="font-size: 0.8em; border: none; padding-top: 0;">450</td>
                    </tr>
                    <tr style="">
                        <td style="font-size: 0.9em; border: none;">Best College</td>
                        <td style="font-size: 0.8em; border: none;">Williams College</td>
                    </tr>
                    <tr style="">
                        <td style="font-size: 0.9em; border: none; padding-top: 0;">Level</td>
                        <td style="font-size: 0.8em; border: none; padding-top: 0;">450</td>
                    </tr>
                </table>
                <i class="ion ion-university fg-white" style="font-size: 5em;"></i>
            </div>
            <div class="col-xs-4 metro" style="padding: 0 0 0 0.4vh;">
                <div class="bg-darkGreen" style="height: 20vh;">
                    <table class="table bg-transparent fg-white" style="margin-bottom: 0;">
                        <tr style="">
                            <td colspan="2" style="text-align: center; font-size: 0.9em; border: none;">Best High School</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center; font-size: 0.8em; border: none;">Townsend Harris </td>
                        </tr>
                        <tr style="">
                            <td style="font-size: 0.9em; border: none; padding-top: 0;">Level</td>
                            <td style="text-align: center; font-size: 0.8em; border: none; padding-top: 0;">450</td>
                        </tr>
                    </table>
                    <i class="ion ion-ribbon-b fg-white" style="font-size: 5em; padding-top: 2.5vh;"></i>
                </div>
            </div>
        </div>

        <div class="col-xs-12 metro" style="padding-top:0.5vh;" id="my_news" ng-controller='FeedCtrl'>
            <div class="col-xs-12" style="padding-right: 0.5vh;">
                <div id="my_feedList" >
                    <ul class="list-group">
                        <li class="list-group-item my_newsItem bg-darkCyan" style="border-radius: 0;" ng-repeat="feed in feeds | orderBy:'publishedDate'" onclick='my_expandNews(this)'>
                            <div class="row">
                                <div class="col-xs-2" style="font-size: 11px;">
                                    <img class="img-rounded fg-white" ng-src="assets/images/home/rss_feed/{{feed.sourceTitle | limitTo:3 }}.jpg" alt="{{feed.sourceTitle}}" title="{{feed.sourceTitle | limitTo:3 }}" />
                                </div>
                                <div class="col-xs-10" style="font-size: 12px;">
                                    <i class="fa fa-close my_closeNewsItem" onclick='my_closeNews(this)'></i>
                                    <p id="my_postTitle" class="fg_white">{{feed.title  | limitTo:40}}<span class="my_postTime pull-right fg-white">{{feed.publishedDate | date:"dd MMM"}} {{feed.publishedDate | date:"H:mm"}}</span></p>
                                    <p class="my_contentSnippet fg-white" style="font-size: 1em;">{{feed.contentSnippet | limitTo:60 }}...</p>
                                    <p class="my_postContent fg-white" style="display: none; font-size: 1.2em; margin-top: 5px">
                                        {{feed.content }}<br />
                                        <br />
                                        <a class="fg-white" href="{{feed.link}}" target="_blank" id="my_postTitle2">More info...</a><br />
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="col-xs-5" style="padding: 0; padding-top: 1vh;" ng-controller="chatCtrl">
        <div class="col-xs-12 metro" style="padding: 0;">
            <div class="panel panel-default" style="border: none; margin-bottom: 0.4vh; border-radius: initial;">
                <div class="panel-body">
                    <div class="col-xs-2 bg-white" style="padding: 0;">
                        <!--<img ng-show="Auth" src="../{{Auth.image}}" style="width: 60px; height: 50px; border-radius:0px; margin: 3px 0 0 0;">-->
<!--   <img src="assets/images/users/{{playerInfo.username}}/profile_pic.png" alt="user picture"  style="width: 60px; height: 50px; border-radius:0px; margin: 3px 0 0 0;"/>

</div>
<div class="col-xs-10">
   <textarea class="form-control" rows="2" placeholder="Share what you've been up to..."  ng-model="globalChatMsg" ng-click="btn_cancel='true'; btn_post='true';"></textarea>
</div>
</div>
<div class="panel-footer bg-white" style="border: none; padding: 0; padding-bottom: 0.8vh;">
<i class="fa fa-image custom_posticon" id="post_img" style="margin-left: 1vh;"></i>
<input type="file" id="my_image" style="display: none;" />
<i class="fa fa-video-camera custom_posticon"></i>
<i class="fa fa-lightbulb-o custom_posticon"></i>
<i class="fa fa-question-circle custom_posticon"></i>

<button class="btn btn-sm btn-default pull-right" style="margin-right: 1vh;" ng-show="btn_cancel" ng-click="btn_cancel=''; btn_post='';">Cancel</button>
<button class="btn btn-sm btn-google-plus pull-right" style="margin-right: 1vh;" ng-show="btn_post" ng-click="addGlobalPost()">Post</button>
<h6></h6>
</div>
</div>
</div>

<div class="col-xs-12 metro" style="padding-right: 0; height: 28.8vh; overflow-y: auto; overflow-x: hidden; padding-left: 0; margin-bottom: 0.4vh;">
<table class="table bg-darkTeal fg-white">
<tr ng-repeat="posts in globalChat" style="border-bottom: 1px solid lightgray">
<td style="border: none; padding-bottom: 0;">
   <img ng-src="{{posts.userImgUrl}}" style="width: 6vh;" alt="Scott Stevens" />
</td>
<td style="border: none; height: 11vh">
   <span style="font-size: 0.9em;">{{posts.username}}</span>
   <span style="font-size: 0.8em">posted a <a ng-click="message_post='true';" style="text-decoration: none; color: aqua; cursor: pointer;">new {{posts.postType}}</a></span>
   <div style="padding: 0; font-size: 0.8em; height: 6vh; width: 24vw; overflow: auto;" ng-show="message_post">
       <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </span>
   </div>
   <div style="height:12vh">
       <h6 style="font-size:0.8em;font-weight:normal;color:aqua" ng-show="posts.massageTo">{{posts.massageTo}} :</h6>
       <span style="font-size:0.8em;">{{posts.message}}</span>
   </div>
</td>
<td style="border: none;">
   <span style="font-size: 0.8em">{{posts.messageTime}}</span>
</td>
</tr>
</table>
</div>

<div class="col-xs-12 metro" style="padding-top: 0.4vh; padding-left: 0; padding: 0;">
<div class="bg-darkPink" style="height: 13.9vh;">
</div>
</div>

</div>

<div class="col-xs-12 metro" style="padding-top:0.4vh;padding-right: 0;">
<div class="panel">
<div class="panel-heading bg-darkGreen fg-white" style="border-radius:0;">
<i class="fa fa-trophy" style="font-size:2.2em;padding-right:1vh;"></i>
<span style="font-size:1.2em">Last Winner Tournament</span>

</div>
<div class="panel-body" style="padding:0;">
<table class="table table-bordered">
<tr style="">
<td colspan="3">
    <span class="btn-group">
        <button type="submit" name="q" class="btn btn-sm btn-default">Top 10</button>
        <button type="submit" name="q" class="btn btn-sm btn-default">Top 100</button>
        <button type="submit" name="q" class="btn btn-sm btn-default">Top 1000</button>
    </span>
    <span class="pull-right">
        <input type="text" class="form-control-xs" id="input_search" placeholder="Search">
        <button type="submit" name="q" class="btn btn-xs btn-default"><i class="fa fa-search"></i></button>
    </span>
</td>
</tr>
<tr>
<td style="font-size: 0.85em; font-weight: bold;width: 6vw;">#</td>
<td style="font-size: 0.85em; font-weight: bold;">Name</td>
<td style="font-size: 0.85em; font-weight: bold;">Level</td>
</tr>
<tr>
<td>
    <i class="ion ion-ribbon-a" style="font-size: 2em; color: goldenrod; padding-right: 1vh;"></i>
</td>
<td>
    <span>El Samurai</span>
</td>
<td>
    <span class="label label-warning">359</span>
</td>
</tr>
<tr>
<td>
    <i class="ion ion-ribbon-a" style="font-size: 2em; color: silver; padding-right: 1vh;"></i>
</td>
<td>
    <span>El Samurai</span>
</td>
<td>
    <span class="label label-warning">359</span>
</td>
</tr>
<tr>
<td>
    <i class="ion ion-ribbon-a" style="font-size: 2em; color: saddlebrown; padding-right: 1vh;"></i>
</td>
<td>
    <span>El Samurai</span>
</td>
<td>
    <span class="label label-warning">359</span>
</td>
</tr>
<tr>
<td>
    <span style="font-size:0.8em;">4</span>
</td>
<td>
    <span>El Samurai</span>
</td>
<td>
    <span class="label label-warning">359</span>
</td>
</tr>
<tr>
<td>
    <span style="font-size:0.8em;">5</span>
</td>
<td>
    <span>El Samurai</span>
</td>
<td>
    <span class="label label-warning">359</span>
</td>
</tr>
<tr>
<td>
    <span style="font-size:0.8em;">6</span>
</td>
<td>
    <span>El Samurai</span>
</td>
<td>
    <span class="label label-warning">359</span>
</td>
</tr>
<tr>
<td>
    <span style="font-size:0.8em;">7</span>
</td>
<td>
    <span>El Samurai</span>
</td>
<td>
    <span class="label label-warning">359</span>
</td>
</tr>
<tr>
<td>
    <span style="font-size:0.8em;">8</span>
</td>
<td>
    <span>El Samurai</span>
</td>
<td>
    <span class="label label-warning">359</span>
</td>
</tr>
<tr>
<td>
    <span style="font-size:0.8em;">9</span>
</td>
<td>
    <span>El Samurai</span>
</td>
<td>
    <span class="label label-warning">359</span>
</td>
</tr>
<tr>
<td>
    <span style="font-size: 0.8em;">10</span>
</td>
<td>
    <span>El Samurai</span>
</td>
<td>
    <span class="label label-warning">359</span>
</td>
</tr>
</table>


</div>
</div>

</div>
</div>-->