<link href="../assets/styles/right_bar.css" rel="stylesheet" />
<link href="../assets/styles/myprofile.css" rel="stylesheet" />
<script src="../assets/scripts/angular_controller.js"></script>
<script src="../assets/scripts/jquery.raty.js"></script>
<script type="text/javascript">
    $('.selectpicker').selectpicker('refresh');
    
	$("input[type='image']").click(function () {
        $("input[id='my_file']").click();
    });

    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
	

   
</script>

     <br />
<div class="col-xs-12">
    <!-- Nav tabs -->
    <ul class="nav custom_profile_tab nav-tabs" role="tablist" style="background-color: #128023;border-top-left-radius:4px;border-top-right-radius:4px;height:40px;border-bottom:0px solid lightgray;">
        <li class="active"><a style="margin-right:0px;border-radius:5px 0px 0px 0px; background-color: #128023;" href="#myprofile" role="tab" data-toggle="tab">Profile</a></li>
        <li><a style="margin-right:0px;border-radius:0px; background-color: #128023;" href="#update_profile" role="tab" data-toggle="tab">Update Profile</a></li>
        <li><a style="margin-right:0px;border-radius:0px 5px 0px 0px; background-color: #128023;" href="#ChangePassword" role="tab" data-toggle="tab">Change Password</a></li>
        
       <li style="float: right;"> <a style="color: white; background-color: #128023;" href="#update_profile" role="tab" data-toggle="tab"><i class="fa fa-cogs"></i></a></li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content new_profiletab_pane">
        <div class="tab-pane fade in active" id="myprofile">
            <h4 style="color: gray; font-weight: bold; padding-left: 1em; /*border-bottom: 1px solid #EEE;*/">Your Profile</h4>
            <hr />
            <div class="row">
               
            
               <div class="col-xs-3" style="padding-left: 2em;">
                  
               <!-- Valerii-->
                        
<!--        <input  src="../../assets/images/home/newUserSmall.png" id="img_signup" style="float: right" />
        <input type="file" id="my_file" style="display: none;" />
-->
						
    <!--<input type="image" src="../../assets/images/trading_floor/man_user.png" id="img_signup" class="profile_image img-circle  profile_image img-thumbnail img-responsive" style="width: 120px; height: 120px; border-radius: 50%;" />-->
    <img src="assets/images/users/{{playerInfo.username}}/profile_pic.png"  style="width: 120px; height: 120px; border-radius: 50%;" />
    <!--<img ng-src="assets/images/users/{{playerInfo.username}}/profile_pic.png"  style="width: 120px; height: 120px; border-radius: 50%;" />
    <input type="image"    src="assets/images/users/{{playerInfo.username}}/profile_pic.png" ng-model="ImageUtilisateurProfil" id="img_signup" class="profile_image img-circle  profile_image img-thumbnail img-responsive" style="width: 120px; height: 120px; border-radius: 50%;" />
    <input type="image" ng-src="assets/images/users/{{playerInfo.username}}/profile_pic.png" id="img_signup" class="profile_image img-circle  profile_image img-thumbnail img-responsive" style="width: 120px; height: 120px; border-radius: 50%;" />
    
    <input type="image" ng-src="../assets/images/users/{{playerInfo.username}}/profile_pic.png" id="img_signup" class="profile_image img-circle  profile_image img-thumbnail img-responsive" style="width: 120px; height: 120px; border-radius: 50%;" />
    <input type="image" ng-src="../../assets/images/users/{{playerInfo.username}}/profile_pic.png" id="img_signup" class="profile_image img-circle  profile_image img-thumbnail img-responsive" style="width: 120px; height: 120px; border-radius: 50%;" />
    <input type="image" src="assets/images/users/{{$scope.playerInfo.username}}/profile_pic.png" id="img_signup" class="profile_image img-circle  profile_image img-thumbnail img-responsive" style="width: 120px; height: 120px; border-radius: 50%;" />-->
    <!--<input type="image" src="assets/images/users/lerobot/profile_pic.png" id="img_signup" class="profile_image img-circle  profile_image img-thumbnail img-responsive" style="width: 120px; height: 120px; border-radius: 50%;" />-->
    <input type="file" id="my_file" style="display: none;" />         
					   
<!--<input class="profile_image" type="image" src="../../assets/images/home/newUserSmall.png" id="img_signup" style="float: right" />
    <input type="file" id="my_file" style="display: none;" />
					   
<!--<input type="hidden" name="MAX_FILE_SIZE" value="99999999">
<input type="file" name="image[]" id="my_file2" multiple="multiple"/> -->
                       
                       
                       
<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img_signup').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#my_file").change(function () {
        readURL(this);
    });
</script>
                        
                      

                        
                        
                    <!--<div id="div_rate" class="col-xs-12"></div> -->
                </div>
                
                <!--end Valerii-->
                
                
                <div class="col-xs-8" style="width:72%;">
                    <table class="table table-bordered">
                        <tr>
                            <td class="active" style="color: gray; font-size: 0.85em; font-weight: bold; width: 30%;">UserName</td>
                            <td style="font-size: 0.85em;">{{playerInfo.username}}</td>
                        </tr>
                        <tr>
                            <td class="active" style="color: gray; font-size: 0.85em; font-weight: bold; width: 30%;">Mail</td>
                            <td style="font-size: 0.85em;">{{playerInfo.email}}</td>
                        </tr>

                    </table>
                </div>
            </div>

        </div>
        <div class="tab-pane fade" id="update_profile">
            <h4 style="padding-left: 1em; color: gray">Update Your Profile</h4>
            <hr />
            <div class="row">
            <div class="col-xs-7 col-xs-offset-1">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label" style="color: gray; font-size: 0.85em;">UserName</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control input-sm" id="inputName" placeholder="UserName" ng-model="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label" style="color: gray; font-size: 0.85em;">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email" ng-model="email" >
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label style="color: gray; font-size: 0.85em; font-weight: bold;">
                                    <input type="checkbox">
                                    Agree with Terms and Conditions
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-3">
                            <button type="submit" class="btn btn-sm btn-success" ng-click="update_profile(username,email);">Update</button>
                        </div>
                        <div class="col-sm-3">
                            <button type="reset" class="btn btn-sm btn-defaul">Cancel</button>
                        </div>
                    </div>
                </form>

            </div>

            <div class="modal fade" ng-show="showUpdateComplete;" style="padding: 0; position: absolute; left: 18.1%; top: 12vh;">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" ng-click="toggleUpdate();">&times;</button>
                  <h4 class="modal-title">Mise à jour réussie !</h4>
                </div>
                <div class="modal-body">
                  <p>Votre username et password ont bien été changés !</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" ng-click="toggleUpdate();">Close</button>
                </div>
              </div>
            </div>
        </div>

            </div>
        </div>
        
        <div class="tab-pane fade" id="recent_activity">
            <h4 style="color: gray; font-weight: bold; padding-left: 1em;">Recent Activity</h4>
            <hr />
            <div class="row">
                <div class="col-xs-11" style="left:4%;">
                    <table class="table table-bordered">
                        <tr style="color: gray; font-size: 0.85em; font-weight: bold;">
                            <td style="width: 10%">SI.No.</td>
                            <td style="width: 15%">Date</td>
                            <td>Activity</td>
                        </tr>
                        <tr style="color: gray; font-size: 0.85em;">
                            <td>1</td>
                            <td>
                                <span class="label label-danger" style="font-size: 80%;">23/09/2014</span>
                            </td>
                            <td>Lorem ipsum dolor sit amet, consectetur augue ut venenatis hendrerit</td>
                        </tr>
                        <tr style="color: gray; font-size: 0.85em;">
                            <td>2</td>
                            <td>
                                <span class="label label-warning" style="font-size: 80%;">23/09/2014</span>
                            </td>
                            <td>Lorem ipsum dolor sit amet, consectetur augue ut venenatis hendrerit</td>
                        </tr>
                        <tr style="color: gray; font-size: 0.85em;">
                            <td>3</td>
                            <td>
                                <span class="label label-success" style="font-size: 80%;">23/09/2014</span>
                            </td>
                            <td>Lorem ipsum dolor sit amet, consectetur augue ut venenatis hendrerit</td>
                        </tr>
                        <tr style="color: gray; font-size: 0.85em;">
                            <td>4</td>
                            <td>
                                <span class="label label-info" style="font-size: 80%;">23/09/2014</span>
                            </td>
                            <td>Lorem ipsum dolor sit amet, consectetur augue ut venenatis hendrerit</td>
                        </tr>
                        <tr style="color: gray; font-size: 0.85em;">
                            <td>5</td>
                            <td>
                                <span class="label label-primary" style="font-size: 80%;">23/09/2014</span>
                            </td>
                            <td>Lorem ipsum dolor sit amet, consectetur augue ut venenatis hendrerit</td>
                        </tr>
                        <tr style="color: gray; font-size: 0.85em;">
                            <td>6</td>
                            <td>
                                <span class="label label-danger" style="font-size: 80%;">23/09/2014</span>
                            </td>
                            <td>Lorem ipsum dolor sit amet, consectetur augue ut venenatis hendrerit</td>
                        </tr>
                        <tr style="color: gray; font-size: 0.85em;">
                            <td>7</td>
                            <td>
                                <span class="label label-warning" style="font-size: 80%;">23/09/2014</span>
                            </td>
                            <td>Lorem ipsum dolor sit amet, consectetur augue ut venenatis hendrerit</td>
                        </tr>
                        <tr style="color: gray; font-size: 0.85em;">
                            <td>8</td>
                            <td>
                                <span class="label label-success" style="font-size: 80%;">23/09/2014</span>
                            </td>
                            <td>Lorem ipsum dolor sit amet, consectetur augue ut venenatis hendrerit</td>
                        </tr>
                        <tr style="color: gray; font-size: 0.85em;">
                            <td>9</td>
                            <td>
                                <span class="label label-info" style="font-size: 80%;">23/09/2014</span>
                            </td>
                            <td>Lorem ipsum dolor sit amet, consectetur augue ut venenatis hendrerit</td>
                        </tr>
                        <tr style="color: gray; font-size: 0.85em;">
                            <td>10</td>
                            <td>
                                <span class="label label-primary" style="font-size: 80%;">23/09/2014</span>
                            </td>
                            <td>Lorem ipsum dolor sit amet, consectetur augue ut venenatis hendrerit</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading c-list">
                    <span class="title">Contacts</span>
                    <span class="pull-right">
                        <span><a href="#cant-do-all-the-work-for-you" data-toggle="tooltip" data-placement="top" title="Add Contact"><i class="glyphicon glyphicon-plus"></i></a></span>
                        <span><a href="#" class="hide-search" data-command="toggle-search" data-toggle="tooltip" data-placement="top" title="Toggle Search"><i class="fa fa-ellipsis-v"></i></a></span>
                    </span>
                </div>

                <div class="row" style="display: none;">
                    <div class="col-xs-12">
                        <div class="input-group c-search">
                            <input type="text" class="form-control" id="contact-list-search">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
                            </span>
                        </div>
                    </div>
                </div>

                <table class="table">
                    <tr style="text-align:center;">
                        <td>
                            <div class="col-xs-10 col-sm-6">
                                <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="img-responsive img-circle" style="margin-left:2em;" />
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <span class="name">Scott Stevens</span><br />
                                <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5842 Hillcrest Rd"></span>
                                <span class="visible-xs"><span class="text-muted">5842 Hillcrest Rd</span><br />
                                </span>
                                <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(870) 288-4149"></span>
                                <span class="visible-xs"><span class="text-muted">(870) 288-4149</span><br />
                                </span>
                                <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="scott.stevens@example.com"></span>
                                <span class="visible-xs"><span class="text-muted">scott.stevens@example.com</span><br />
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </td>
                        <td>
                            <div class="col-xs-10 col-sm-6">
                                <img src="http://api.randomuser.me/portraits/men/97.jpg" alt="Seth Frazier" class="img-responsive img-circle" style="margin-left:2em;" />
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <span class="name">Seth Frazier</span><br />
                                <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="7396 E North St"></span>
                                <span class="visible-xs"><span class="text-muted">7396 E North St</span><br />
                                </span>
                                <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(560) 180-4143"></span>
                                <span class="visible-xs"><span class="text-muted">(560) 180-4143</span><br />
                                </span>
                                <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="seth.frazier@example.com"></span>
                                <span class="visible-xs"><span class="text-muted">seth.frazier@example.com</span><br />
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </td>
                        <td>
                            <div class="col-xs-10 col-sm-6">
                                <img src="http://api.randomuser.me/portraits/women/90.jpg" alt="Jean Myers" class="img-responsive img-circle" style="margin-left:2em;" />
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <span class="name">Jean Myers</span><br />
                                <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="4949 W Dallas St"></span>
                                <span class="visible-xs"><span class="text-muted">4949 W Dallas St</span><br />
                                </span>
                                <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(477) 792-2822"></span>
                                <span class="visible-xs"><span class="text-muted">(477) 792-2822</span><br />
                                </span>
                                <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="jean.myers@example.com"></span>
                                <span class="visible-xs"><span class="text-muted">jean.myers@example.com</span><br />
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>
                            <div class="col-xs-10 col-sm-6">
                                <img src="http://api.randomuser.me/portraits/men/24.jpg" alt="Todd Shelton" class="img-responsive img-circle" style="margin-left:2em;" />
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <span class="name">Todd Shelton</span><br />
                                <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5133 Pecan Acres Ln"></span>
                                <span class="visible-xs"><span class="text-muted">5133 Pecan Acres Ln</span><br />
                                </span>
                                <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(522) 991-3367"></span>
                                <span class="visible-xs"><span class="text-muted">(522) 991-3367</span><br />
                                </span>
                                <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="todd.shelton@example.com"></span>
                                <span class="visible-xs"><span class="text-muted">todd.shelton@example.com</span><br />
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </td>
                        <td>
                            <div class="col-xs-10 col-sm-6">
                                <img src="http://api.randomuser.me/portraits/women/34.jpg" alt="Rosemary Porter" class="img-responsive img-circle" style="margin-left:2em;" />
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <span class="name">Rosemary Porter</span><br />
                                <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5267 Cackson St"></span>
                                <span class="visible-xs"><span class="text-muted">5267 Cackson St</span><br />
                                </span>
                                <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(497) 160-9776"></span>
                                <span class="visible-xs"><span class="text-muted">(497) 160-9776</span><br />
                                </span>
                                <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="rosemary.porter@example.com"></span>
                                <span class="visible-xs"><span class="text-muted">rosemary.porter@example.com</span><br />
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </td>
                        <td>
                            <div class="col-xs-10 col-sm-6">
                                <img src="http://api.randomuser.me/portraits/women/56.jpg" alt="Debbie Schmidt" class="img-responsive img-circle" style="margin-left:2em;" />
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <span class="name">Debbie Schmidt</span><br />
                                <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="3903 W Alexander Rd"></span>
                                <span class="visible-xs"><span class="text-muted">3903 W Alexander Rd</span><br />
                                </span>
                                <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(867) 322-1852"></span>
                                <span class="visible-xs"><span class="text-muted">(867) 322-1852</span><br />
                                </span>
                                <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="debbie.schmidt@example.com"></span>
                                <span class="visible-xs"><span class="text-muted">debbie.schmidt@example.com</span><br />
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>-->

<script>
    $('#div_rate').raty();
</script>